<nav>
  <div class="nav__pt1">

    <div class="logo__barrinhas">
      <img class="barrinhas" src="../../../assets/images/icone_tres_barrinhas.png" alt="tres barrinhas">
      <img class="logo" src="../../../assets/images/icone_logo.png" alt="logo notebook!">
    </div>

    <div class="barra__pesquisa">
      <img class="lupa" src="../../../assets/images/icone_lupa.png" alt="lupa">
      Pesquisar nota
    </div>

  </div>

  <div class="nav__pt2">
    <img src="../../../assets/images/icone_compartilhar.png" alt="compartilhar">
    <img src="../../../assets/images/icone-notificacoes.png" alt="notificações">
    <img src="../../../assets/images/icone_configuracoes.png" alt="configurações">
    <img src="../../../assets/images/icone_perfil.png" alt="perfil">
  </div>



</nav>

<section class="menu">
  <div class="todas__notas">Todas as notas</div>
  <div class="linha__horizontal"></div>
  <div class="colecoes">Coleções</div>
</section>
