<section class="espaco_principal">
<div class="nota">
  <div class="titulo_nota">
      <h1>Lista de compras</h1>
      <div class="cor_nota"></div>
  </div>
  <div class="conteudo_nota">
      <div class="texto_nota">
          <ul class="lista_tipo1">
              <li>Leite</li>
              <li>Pão</li>
              <li>Ovos</li>
              <li>Arroz</li>
              <li>Feijão</li>
              <li>Macarrão</li>
              <li>Carne</li>
              <li>Legumes</li>
              <li>Frutas</li>
          </ul>
      </div>
      <div class="opcoes_nota">
          <img src="../../../assets/images/icone_opcoes.png" alt="Opcoes nota">
          <img src="../../../assets/images/icone_editar.png" alt="Editar nota">
      </div>
  </div>
</div>

<div class="nota">
  <div class="titulo_nota">
      <h1>Jogos para comprar</h1>
      <div class="cor_nota2"></div>
  </div>
  <div class="conteudo_nota">
      <div class="texto_nota">
          <ul class="lista_tipo2">
              <li>The Legend of Zelda: Breath of the Wild</li>
              <li>The Last of Us Part II</li>
              <li>Red Dead Redemption</li>
              <li>Super Mario Odyssey</li>
              <li>God of War (2018)</li>
              <li>Celeste</li>
              <li>Sekiro: Shadows Die Twice</li>
              <li>Hades</li>
              <li>Disco Elysium</li>
              <li>Bloodborne</li>
          </ul>
      </div>
      <div class="opcoes_nota">
          <img src="../../../assets/images/icone_opcoes.png" alt="Opcoes nota">
          <img src="../../../assets/images/icone_editar.png" alt="Editar nota">
      </div>
  </div>
</div>

<div class="nota">
  <div class="titulo_nota">
      <h1>Declaração de amor para a Rebeca</h1>
      <div class="cor_nota3"></div>
  </div>
  <div class="conteudo_nota">
      <div class="texto_nota">
          Desde o momento em que nos conhecemos, minha vida mudou para sempre. Você trouxe luz, alegria e significado para cada dia que passamos juntos. Seu sorriso ilumina meu coração, e sua presença é como um abraço quente que acalma minha alma.
Cada momento ao seu lado é um tesouro que guardo em meu coração. Sua bondade, paciência e compreensão são qualidades que admiro profundamente. Você me inspira a ser uma pessoa melhor todos os dias.
      </div>
      <div class="opcoes_nota">
          <img src="../../../assets/images/icone_opcoes.png" alt="Opcoes nota">
          <img src="../../../assets/images/icone_editar.png" alt="Editar nota">
      </div>
  </div>
</div>
</section>
