<section class="criar_editar_nota">
  <div class="topo_criar_nota">
      <div class="titulo_criar_nota">
        Insira um titulo
        <div class="cor_nota_vazia"></div>
    </div>

    <img src="../../../assets/images/icone_favoritar.png" alt="Favoritar">
  </div>

  <div class="edicao_nota_fundo">
    <div  class="edicao_nota">
      <div class="edicao_nota_texto">Insira aqui seu texto</div>

      <div class="ferramentas_edicao">
        <img src="../../../assets/images/icone_tamanho_fonte.png" alt="Aumentar fonte"> <!-- colocar depois as opções de editar tamanho de fonte (../../../../../assets/images/icone_aumentar_fonte.png) e (../../icone_diminuir_fonte.png) aqui -->
        <img src="../../../assets/images/icone_sublinhar.png" alt="Aumentar fonte">
        <img src="../../../assets/images/icone_destacar_texto.png" alt="Aumentar fonte">
      </div>
    </div>

    <div class="botao_salvar_nota">
      Salvar nota
      </div>
  </div>

</section>
